@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f8f7;
  --foreground: #171717;
}

.dark {
  --background: #0a150f;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Be Vietnam Pro", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.flow-line {
  background: linear-gradient(90deg, transparent 0%, #38e07b 50%, transparent 100%);
}
